@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --primary-color: #3c50e0;
    --secondury-color: #4b5563;
    --border-color: rgb(226, 232, 240);
  }
  .width_class {
    height: 320px !important;
  }
  .width_classs {
    height: 275px !important;
  }
  @screen 2xl {
    .main_class,
    .search {
      display: block;
    }
    .main_bars {
      display: none;
    }
  }
  /* @media (max-width: 1400px) {
    .main_class,
    .search {
      display: block;
    }
    .main_bars {
      display: none;
    }
  } */
  @screen xl {
    .main_class,
    .search {
      display: block;
    }
    .main_bars {
      display: none;
    }
  }
  @screen lg {
    .main_class,
    .search {
      display: block;
    }
    .main_bars {
      display: none;
    }
  }
  @screen md {
    .main_class,
    .search {
      display: none;
    }
    .main_bars {
      display: block;
    }
  }
  @screen sm {
    .main_class,
    .search {
      display: none;
    }
    .main_bars {
      display: block;
    }
  }
}

@layer utilities {
  @font-face {
    font-family: "Satoshi";
    src: url("./assets/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2")
        format("woff2"),
      url("./assets/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("./assets/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff2")
        format("woff2"),
      url("./assets/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff")
        format("woff");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("./assets/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2")
        format("woff2"),
      url("./assets/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
  }

  body {
    margin: 0;
    font-family: "Satoshi", sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  #handboy {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
  }

  #girllight {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
  }

  #hairgirl {
    animation: swinghair ease-in-out 1.3s infinite alternate;
    transform-origin: 60% 0%;
    transform-box: fill-box;
  }

  #zero {
    transform-origin: bottom;
    transform-box: fill-box;
  }

  /*************swing************/
  @keyframes swing {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }

  .data_active {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .data_active::before {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(55, 65, 81);
  }

  /*************swing hair************/
  @keyframes swinghair {
    0% {
      transform: rotate(6deg);
    }
    100% {
      transform: rotate(-6deg);
    }
  }
  @media (max-width: 1556px) {
    .main_class,
    .search {
      display: block;
    }
    .main_bars {
      display: none;
    }
  }
  @media (max-width: 1400px) {
    .main_class,
    .search {
      display: block;
    }
    .main_bars {
      display: none;
    }
  }
  @media (max-width: 1280px) {
    .main_class,
    .search {
      display: block;
    }
    .main_bars {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    .main_class,
    .search {
      display: block;
    }
    .main_bars {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .main_class,
    .search {
      display: none;
    }
    .main_bars {
      display: block;
    }
  }
  @media (max-width: 640px) {
    .main_class,
    .search {
      display: none;
    }
    .main_bars {
      display: block;
    }
  }
}
